@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nunito:wght@300&family=Poppins:wght@300;400&display=swap');

.background {
    display: flex;
    flex-flow: column nowrap;
    background-color: #FFF9CA;
    height: 35vh;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: relative;
    margin-top: 5px;
}

.login {
    border: none;
    background-color: #FF9F45;
    color: white;
    border-radius: 65px;
    width: 130px;
    margin-top: 10px;
    margin-right: 10px;
    height: 50px;
    font-family: 'Nunito', sans-serif;
    font-size: 1.3rem;
}

.logo {
    width: 120px;
    height: 85px;
    margin-left: 5px;
}

.title {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 5rem;
}

.subtitle {
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 2rem;
    color: #595959;
}
.menu{
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    width: 90%;
    margin: 0 auto;
    font-family: 'Nanum Gothic', sans-serif;
    color: #595959;

}
.menuBar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    font-size: 1.5rem;
    margin-top: 80px;
    width: 50%;
}

ul, li {
    list-style: none;

    margin-right: 15px;
}

li:hover{
    color: #FF9F45;
    cursor: pointer;
}

.cards {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
}

.card {
    width: 26%;
    height: 80vh;
    margin-top: 70px;
    margin-bottom: 10px;
}

.imgbox {
    margin: 0 auto;
    width: 100%;
    height: 45%;
    overflow: hidden;
    border-radius: 10px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title2 {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 2rem;
    text-align: center;
    margin-top: 10px;
}

.content {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1rem;
    margin-top: 10px;
}

.download {
    border: none;
    background-color: #FF9F45;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 1.3rem;
    padding: 10px;
    width: 50%;
}
.blogs {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 10px;
}

.blog {
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    padding-top: 20px;
    padding-bottom: 20px;
}

.blog_title {
    padding-top: 30px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.5rem;
}

.blog_showContent {

    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1rem;
    color: #595959;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2 ;
    -webkit-box-orient: vertical;
}

.blog_imgBox {

    width: 150px;
    height: 150px;
    overflow: hidden;
    float: right;

}

.blog_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}











@media (max-width: 1320px){

    .card {
        width: 46%;
        height: 80vh;
        margin-top: 70px;
        margin-bottom: 10px;
    }

    .menuBar {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        font-size: 1.5rem;
        margin-top: 80px;
        width: 100%;
    }

}

@media (max-width: 875px){

    .background {
        display: flex;
        flex-flow: column nowrap;
        background-color: #FFF9CA;
        height: 25vh;
    }

    .cards {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }

    .card {
        width: 100%;
        height: 60%;
        margin-top: 40px;
        margin-bottom: 10px;
    }

    .imgbox {
        margin: 0 auto;
        width: 100%;
        height: 400px;
        overflow: hidden;
        border-radius: 10px;
    }
    
    .menuBar {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        font-size: 1rem;
        margin-top: 30px;
        width: 100%;
    }

    ul, li {
        list-style: none;
        margin: 0 auto;
    }

    .logo {
        width: 100px;
        height: 65px;
        margin-left: 5px;
    }
    
    .title {
        text-align: center;
        font-family: 'Nunito', sans-serif;
        font-size: 2rem;
        margin-top: 20px;
    }

    .subtitle {
        text-align: center;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: 1rem;
        color: #595959;
    }

    .login {
        border: none;
        background-color: #FF9F45;
        color: white;
        border-radius: 65px;
        width: 100px;
        margin-top: 10px;
        margin-right: 10px;
        height: 40px;
        font-family: 'Nunito', sans-serif;
        font-size: 1rem;
    }

    
    .blog {

        width: 100%;
        border-top: 1px solid #ced4da;
        border-bottom: 1px solid #ced4da;

    }
    
    .blog_title {
        
        padding-top: 0;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: 1rem;
    }
    
    .blog_showContent {
    
        font-family: 'Nanum Gothic', sans-serif;
        font-size: 0.5rem;
        color: #595959;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        word-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 2 ;
        -webkit-box-orient: vertical;
    }
    
    .blog_imgBox {
    
        width: 70px;
        height: 70px;
        overflow: hidden;
        float: right;
    
    }
    
    .blog_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }




}